@page
@using System.Security.Claims
@{
    ViewData["Title"] = "Restricted Page";
}

<h1>Restricted Page</h1>

<p>This page requires the user to authenticated only</p>

<h2 class="mt-5">Claims</h2>
<table class="table">
    <thead class="thead-dark">
        <tr class="d-flex">
            <th scope="col" class="col-3">Type</th>
            <th scope="col" class="col-9" style="word-break: break-all;">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
        {
            <tr class="d-flex">
                <th scope="row" class="col-3" style="word-break: break-all;">@claim.Type</th>
                <td class="col-9" style="word-break: break-all;">@claim.Value</td>
            </tr>
        }
    </tbody>
</table>
